#mantis {
            position: fixed;
            width: 100px;
            height: 100px;
            background-image: url('../img/crawling_mantis.png');
            background-size: cover;
            transition: transform 0.05s ease-in-out; /* quiker angle change */
            left: -100px; /* Initial postion */
            bottom: 100px; /* Initial postion */
            transform: translate(-50%, -50%);
			z-index:25;
        }
